@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Rating</th>
            <th>Platform</th>
        </tr>
        @foreach (Game entry in ViewBag.AllGames)
        {
            <tr>
                <td>@entry.Title</td>
                <td>@entry.Price</td>
                <td>@entry.Genre</td>
                <td>@entry.Rating</td>
                <td>@entry.Platform</td>
            </tr>
        }
    </table>

    <h1 class="display-4">All platforms or all T-Ratings</h1>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Rating</th>
            <th>Platform</th>
        </tr>
        @foreach (Game entry in ViewBag.allPlatforms)
        {
            <tr>
                <td>@entry.Title</td>
                <td>@entry.Price</td>
                <td>@entry.Genre</td>
                <td>@entry.Rating</td>
                <td>@entry.Platform</td>
            </tr>
        }
    </table>

    <h1 class="display-4">Top M Games</h1>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Rating</th>
            <th>Platform</th>
        </tr>
        @foreach (Game entry in ViewBag.topMGames)
        {
            <tr>
                <td>@entry.Title</td>
                <td>@entry.Price</td>
                <td>@entry.Genre</td>
                <td>@entry.Rating</td>
                <td>@entry.Platform</td>
            </tr>
        }
    </table>

    <h1 class="display-4">Rocket League</h1>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Genre</th>
            <th>Rating</th>
            <th>Platform</th>
        </tr>
        <tr>
            <td>@ViewBag.singleGame .Title</td>
            <td>@ViewBag.singleGame .Price</td>
            <td>@ViewBag.singleGame .Genre</td>
            <td>@ViewBag.singleGame .Rating</td>
            <td>@ViewBag.singleGame .Platform</td>
        </tr>
    </table>
</div>
